// .pt-1 {
//   padding-top: .5rem !important;
// }

$spacer: 1rem !default;
$spacers: () !default;

$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.25),
    5: ($spacer * 3)
  ),
  $spacers
);

@each $prop, $abbrev in (margin: m, padding: p) {
  @each $size, $length in $spacers {
    .#{$abbrev}-#{$size},
    .#{$abbrev}t-#{$size}, 
    .#{$abbrev}y-#{$size} {
       #{$prop}-top: $length !important;
    }
    .#{$abbrev}-#{$size},
    .#{$abbrev}r-#{$size}, 
    .#{$abbrev}x-#{$size} {
        #{$prop}-right: $length !important;
    }

    .#{$abbrev}-#{$size},
    .#{$abbrev}l-#{$size}, 
    .#{$abbrev}x-#{$size} {
        #{$prop}-left: $length !important;
    }

    .#{$abbrev}-#{$size},
    .#{$abbrev}b-#{$size}, 
    .#{$abbrev}y-#{$size} {
        #{$prop}-bottom: $length !important;
    }
  }
}

@each $prop, $abbrev in (margin: m) {
  .#{$abbrev}t-auto,
  .#{$abbrev}y-auto {
    #{$prop}-top: auto !important;
  } 
  .#{$abbrev}b-auto,
  .#{$abbrev}y-auto {
    #{$prop}-bottom: auto !important;
  } 
  .#{$abbrev}l-auto,
  .#{$abbrev}x-auto {
    #{$prop}-left: auto !important;
  } 
  .#{$abbrev}r-auto,
  .#{$abbrev}x-auto {
    #{$prop}-right: auto !important;
  } 
}
