@import "variables";

.Header {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  color: $white;
}

nav {
  width: 100%;
  margin: auto;
}

@media (min-width: 720px) {
  nav {
    width: 90%;
  }
}

@media (max-width: 720px) {
  nav {
    width: 95%;
  }

  .header-options {
    display: none !important;
  }
}