@import 'spacing';
@import 'variables';
@import 'text.module';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $gray-100;
}

a {
  color: $primary-anchor;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

.theme {
  background-color: $theme-bg;
  color: #ffffff;
}
