@import '../../assets/scss/variables';

.Header {
  position: relative;
  padding: 0px;
  margin: 0px;
  width: 100%;
  color: $white;
  height: 53px;
  z-index: 99;
}

.Header-Inner {
  position: fixed;
  align-items: stretch;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 53px;
  background-color: $primary;
}

nav {
  position: relative;
  width: 100%;
  height: 100%;
}

.icon-style {
  font-size: 15px;
  height: 26px;
  width: 26px;
  color: $secondary-color;
}

// @media (min-width: 720px) {
//   nav {
//     width: 90%;
//   }
// }

// @media (max-width: 720px) {
//   nav {
//     width: 95%;
//   }

//   .header-options {
//     display: none !important;
//   }
// }
